@import "../../variables.scss";

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }
  .todo__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $font-size-md;
    height: $font-size-md;
    margin: 0.5rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    &:focus {
      outline: none;
    }
  }
  .todo__description {
    font-size: $font-size-sm;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    background-color: #fafafa;
    &:focus {
      outline: none;
    }
  }
  .todo__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    svg {
      width: $font-size-md;
      height: $font-size-md;
      fill: rgb(187, 50, 50);
    }
  }
}

.done {
  text-decoration: line-through;
  background-color: rgb(156, 168, 154);
}
