$font-size-base: 62.5%;
$font-size-medium: 75%;
$font-size-large: 87.5%;
$font-size-xlarge: 100%;
$font-size-lg: 2.25rem;
$font-size-sm: 1.25rem;
$font-size-xs: 1rem;

$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$primary-color: #1b1b1b;
